<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41266717876-dgfnmkjg1et2flrp2s88sb8lel9067oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41266717876-dgfnmkjg1et2flrp2s88sb8lel9067oj</string>
	<key>API_KEY</key>
	<string>AIzaSyDcPDFAiLIrAK98kWeoROhd469OsPcoOIg</string>
	<key>GCM_SENDER_ID</key>
	<string>41266717876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sevanam.kertiawanMobile</string>
	<key>PROJECT_ID</key>
	<string>bpr-kertiawan</string>
	<key>STORAGE_BUCKET</key>
	<string>bpr-kertiawan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41266717876:ios:662ea42ab16fa6d258a3e1</string>
	<key>DATABASE_URL</key>
	<string>https://bpr-kertiawan.firebaseio.com</string>
</dict>
</plist>